.logo {
   background-image: url("../img/sicogenii_logo.png") !important;
   background-repeat: no-repeat;
   background-size: 320px 90px;
   height: 92px;
   width: 960px;
   padding-bottom: 10px;
}

.title-grid {
   background: #3F87C1 !important;
   color: #ffffff !important;
}

select {
   width: 200px;
}

.date {
   width: 70px !important;
}

option {
   width: 210px;
   white-space:pre-wrap;
   word-wrap: break-word;
}

table.adminlist tbody tr.row1 {
   border-spacing: 0px !important;
   background: #000 !important;
   border-top: 0px solid #fff !important;
}

.rowErr1 {
   border-spacing: 0px !important;
   background: rgba(255,0,0,0.6) !important;
   border-top: 0px solid #fff !important;
}

.rowErr2 {
   border-spacing: 0px !important;
   background: rgba(255,254,120,0.6) !important;
   border-top: 0px solid #fff !important;
}

.rowErr3 {
   border-spacing: 0px !important;
   background: rgba(204,195,255,0.6) !important;
   border-top: 0px solid #fff !important;
}

.row0 {
   border-spacing: 0px;
   background: #ffffff !important;
   border-top: 0px solid #fff;
}

.ui-widget-header {
   border: 1px solid #dddddd;
   background: url(../img/ui-bg_diagonals-thick_8_333333_40x40.png) 50% 50% repeat !important;
   color: #ffffff !important;
   font-weight: bold;
}

.ui-button .ui-icon {
   background-image: url(../img/ui-icons_777777_256x240.png) !important;
}
.ui-widget-header .ui-icon {
   background-image: url(../img/ui-icons_444444_256x240.png) !important;
}

.ui-icon, .ui-widget-content .ui-icon {
   background-image: url(../img/ui-icons_444444_256x240.png) !important;
}

.ui-tooltip-content {
   color: #ffffff !important;
}

.colspan-padding {
   padding: 15px !important;
}

.title-table {
   background: #0066b8 !important;
   font-size: 14px;
   font-weight: bold;
   color: #ffffff;
}

.contIconografia {
   float:left;
   background-image: url('../img/rectangulo.png');
   font: normal 11px arial;
   width: 540px;
   background-size:540px 72px;
   background-repeat:no-repeat;
   height: 75px;
   margin:15px;
   padding: 10px 0;
   position:absolute;
   bottom:0;
}

.contIcono{
   margin:0 0 0 15px;
   float:left;
   width:135px;
}


/* OpenID icon style */
input.system-openid {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}

/* Unpublished */
.system-unpublished {
background: #e8edf1;
border-top: 4px solid #c4d3df;
border-bottom: 4px solid #c4d3df;
}

/* System Messages */
#system-message    { margin-bottom: 10px; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; text-indent: 30px; }
#system-message dd ul { color: #0055BB; margin-bottom: 10px; list-style: none; padding: 10px; border-top: 3px solid #84A7DB; border-bottom: 3px solid #84A7DB;}

/* System Standard Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }

/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error ul { color: #c00; background-color: #E6C0C0; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice ul { color: #c00; background: #EFE7B8; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

/* Debug */
#system-debug     { color: #ccc; background-color: #fff; padding: 10px; margin: 10px; }
#system-debug div { font-size: 11px;}
